<nav>
    <ul class="navigation">
      <li class="navigation"><a class="navigation" href="/admin">Home</a></li>
      <li class="navigation"><a class="navigation" href="/auth/getregister">Admin Auth</a></li>
      <li class="navigation"><a class="navigation" href="/admin/editstuff">Edit Login</a></li>
    </ul>
</nav>