<nav>
    <ul>
      <li><a class="navigation" href="cms.html">Home</a></li>
      <li><a class="navigation" href="adminAuth.html">Admin Auth</a></li>
      <li><a class="navigation" href="userEdit.html">Edit Pages </a></li>
      <li><a class="navigation" href="cms.html">Other 1</a></li>
      <li><a class="navigation" href="cms.html">Other 2</a></li>
    </ul>
</nav>