<nav>
    <ul>
      <li class="navigation"><a class="navigation" href="/admin">Home</a></li>
      <li class="navigation"><a class="navigation" href="/auth/getregister">Admin Auth</a></li>
    </ul>
</nav>