<nav>
    <ul>
      <li><a class="navigation" href="/cms">Home</a></li>
      <li><a class="navigation" href="/adminAuth">Admin Auth</a></li>
      <li><a class="navigation" href="/userEdit">Edit Pages </a></li>
      <li><a class="navigation" href="/cms">Other 1</a></li>
      <li><a class="navigation" href="/cms">Other 2</a></li>
    </ul>
</nav>