<nav>
    <ul class="navigation">
      <li class="navigation"><a class="navigation" href="/">Home</a></li>
      <li class="navigation"><a class="navigation" href="/auth/getregister">Authorization</a></li>
      <li class="navigation"><a class="navigation" href="/admin">Edit </a></li>
    </ul>
</nav>