<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>User Account</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<%- include adminnav %>
	<header>
		<h1>Log In to User Account</h1>
	</header>
	<h2> Edit User Account </h2>
	<form class="formy">
	 	<h3>Email: <input type="email" name="email"> <br>
		Password: <input type="password" name="password"> <br>
		<input type="button" onclick="window.location.href = 'adminDash.html'" value="Save" /></h3>
	</form>
</body>
</html>
